<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>WEB-INF/classes/log4j.xml</param-value>
	</context-param>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/logon.jsp</url-pattern>
		<url-pattern>/login.jsp</url-pattern>
		<url-pattern>/</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>funcionarioFilter</filter-name>
		<url-pattern>/secure/funcionario</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/secure/*</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/error/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/error500.jsp</location>
	</error-page>
</web-app>
