@CHARSET "ISO-8859-1";
section {
	min-height: 69.4%;
}

html {
	#background-color: #fff8dc;
}

.paddingTop5{
	padding-top: 5px;
}

.marginTop20{
	margin-top: 20px !important;
}

.divEsqueciSenha {
	margin-bottom: 10px;
}

html .linkEsqueciSenha {
	font-size: 80%; 
}

.linkEsqueciSenha:HOVER {
	text-decoration: underline;
}

.tableClass {
	width: 100%;
}

.tableHeader th{
	border: 1px solid;
}

.tableBody tr td{
	position:relative;
	border: 1px solid; 
	top: -2px;
}

.tableFooter {
	position:relative; 
	top: -2px; 
	border-top: 1px solid;
}

.paginatorList { margin: 2px 6px; list-style: none outside none; }
.paginatorList li { float: left; padding: 2px 4px; font-size: 1em; }
li.paginatorCurr { font-weight: bold; font-size: 1.5em; margin-top: -2px; }
li.paginatorLast { float: none; }
