@CHARSET "UTF-8";

.provasonline-font-default {
	font-size: 11px;
}

.login-identification {
	padding-top: 10px;
	padding-bottom: 15px;
}

.login-header {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.title-header {
	padding-top: 5px;
	font-size: 20px;
}

.header-title-page {
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 16px;
}

.centralizar {
	text-align: center;
}

.centralizarElemento > table > tbody > tr > td{
	text-align: center !important;
	align: center !important;
}

.width80 {
	width: 80%;
}

.width70 {
	width: 70%;
}

.width60 {
	width: 60%;
}

.width50 {
	width: 50%;
}

.width40 {
	width: 40%;
}

.width30 {
	width: 30%;
}

.width20 {
	width: 20%;
}

.table-vertical-align {
	vertical-align: top;
	padding-top: 22px !important;
	padding-left: 20px !important;
}

.valignTop > tbody > tr > td{
	vertical-align: top !important;	
}

.ui-panelgrid {
	border-collapse: separate !important;
}

.ui-panelgrid tr td {
	border: none;
}

.div-content {
	margin: 8px;
}

.ui-growl-item-container {
	border: 2px solid #aed0ea !important;
}

.ui-datatable-odd {
	background: none repeat scroll 0 0 #F2F5F9 !important;
}